<div>
    <div *ngIf="isLoadingResults">
        <div class="d-flex justify-content-center">
            <div class="spinner-border spinner-lg" role="status"></div>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 10px;">
            <span>Loading...</span>
        </div>
    </div>

    <div *ngIf="!isLoadingResults" class="col-12">
        <h2>Policies</h2>
        <br />
        <button class="btn btn-primary btn-add" (click)="add()">Add new Policy</button>
        <button class="btn btn-info btn-add" (click)="assignPolicy()">Assign Policy</button>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" *ngFor="let colum of columns">{{colum}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="!policyList || policyList.length == 0">
                    There is no data to display.
                </tbody>
                <tbody *ngIf="policyList && policyList.length > 0">
                    <tr *ngFor="let policy of policyList">
                        <td>{{policy.Name}}</td>
                        <td>{{policy.Description}}</td>
                        <td>{{policy.CoveragePercentage}}%</td>
                        <td>{{policy.CoverageTerm}} months</td>
                        <td>{{policy.Price | currency}}</td>
                        <td>{{policy.CoverageType}}</td>
                        <td>{{policy.RiskType}}</td>
                        <td>
                            <button class="btn btn-link btn-option" (click)="edit(policy)" placement="top"
                                ngbTooltip="Edit"><i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-link btn-option" (click)="delete(policy)" placement="top"
                                ngbTooltip="Delete"><i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>