table {
    width: 100%;
}

table.mat-table td, table.mat-table th {
    font-size: 14px;
    padding: 0px 15px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th {
    text-align: center !important;
}

td, th {
    width: 12.5%;
}